#Submit {
  background-color: #25A751;
}

A.LinkTopNav:link, A.LinkTopNav:visited, A.LinkTopNav:hover {
    color: #25A751 !important;
    text-decoration: none;
    border-bottom: none;
    font-weight: 400;
}

.TabActive {
    color: #25A751 !important;
}

.FooterInfo {float: unset;}
i.fas.fa-play {color: #25A751;}
td.SpacerMd.Right {width: 0%;}
